body
{
    width: 100vw;
    height: 100vh;
}

body.home
{
    width: 100vw;
    height: 100vh;

    #primary
    {
        margin-left: 0;
        width: 100vw;
    }
}

body.home::after
{
    width: 100%;
    height: 150%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(90% 100%, 100% 100%, 70% 100%);
    z-index: -1;

    @include desktop
    {
        clip-path: polygon(90% 0, 100% 0, 100% 100%, 70% 100%);
        background-color: rgb(13, 44, 218);
    }
}

.site-title
{
    font-family: $font__title;
    font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem,);
    font-weight: bold;
    color: #003;
    margin-bottom: 0;

    a { text-decoration: none; } 
}

.site-description
{
    font-family: $font__title;
    font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem,);
    font-weight: normal;
    color: rgb(13, 44, 218);
    margin-top: 0;
}

.accueil
{
    font-size: clamp(0.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem,);
}

ul
{
    list-style-type: none;
}

.liste-cours
{
    display: flex;
    flex-direction: column;

    section
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 25px;

        article
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            width: 30%;
            border: 1px solid black;
            margin: 10px;
    
            p
            {
                font-size: .7rem;
                font-weight: bold;
            }
    
            a
            {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }
        } // Fin article
    } // Fin section
}