.carrousel
{
    display: flex;
    width: 300vw;
    height: 20vh;
    transition: transform 0.5s;

    div
    {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        color: white;
        

        // Respect plus ou moins des couleurs du logo du college avec un essai de background-image,
        // qui ne marche pas :(
        &:nth-of-type(1)
        {
            background-color: rgb(41, 14, 196);
        }

        &:nth-of-type(2)
        {
            background-color: rgb(14, 175, 196);
        }

        &:nth-of-type(3)
        {
            background-color: rgb(14, 93, 196);
        }
    } // Fin du div
}

// Ajout de couleurs au hover pour respecter chaque case de sprint
// Ainsi qu'un espacement entre les boutons 

/* button
{
    margin-top: 20px;
    margin-right: 20px;
}

#un:hover {background-color: rgb(41, 14, 196);}

#deux:hover {background-color: rgb(14, 175, 196);}

#trois:hover {background-color: rgb(14, 93, 196);} */
.conteneurBtns
{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    a
    {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        color: white;
        width: 1rem;
        height: 1rem;
        padding: 1rem;
        border-radius: 30%;
        margin: 0.5rem;

        &:nth-of-type(1)
        {
            background-color: rgb(41, 14, 196);
        }

        &:nth-of-type(2)
        {
            background-color: rgb(14, 175, 196);
        }

        &:nth-of-type(3)
        {
            background-color: rgb(14, 93, 196);
        }
    }
}