.carrousel-2
{
    display: flex;
    flex-wrap: nowrap;
    width: 600vw;
    height: 20vh;
    transition: transform 0.5s;

    .sliderConteneur
    {
        display: flex;
        flex-direction: row;
        width: 100vw;
        align-items: center;
        justify-content: center;
        color: white;

        .slide
        {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include tablet
            {
                &
                {
                    width: 60%;
                }
            }

            img
            {
                display: block;
                margin: 2%;
            }

            .slide_infos
            {
                display: flex;
                flex-direction: column;

                p
                {
                    font-size: 0.8rem;
                }

                a
                {
                    font-size: 1.2rem;
                    text-decoration: none;
                }
            }
        }
    } // Fin du div
}