.carrousel
{
    display: flex;
    width: 300vw;
    height: 20vh;
    transition: transform 0.5s;

    div
    {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        color: white;
    } // Fin du div
}
